<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객지원(목록페이지)</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>


    <%- include("common/header.ejs"); %>
    <div id="container">
        <%- include("common/banner.ejs"); %>
        <div class="list_wrap">
            <div class="center">
                <h3 class="title">기업소식</h3>
                <div class="t_list">
                    <p class="total">Total: <%- data.length %></p>
                    <div class="search_box">
                        <select name="ser_select" id="ser_select">
                            <option value="제목">제목</option>
                            <option value="내용">내용</option>
                            <option value="제목과내용">제목 + 내용</option>
                            <option value="작성자">작성자</option>
                        </select>
                        <input type="text" name="search" id="search">
                        <button class="sear_btn" type="submit">검색</button>
                    </div>
                </div>
                <div class="list">
                    <div class="h_line">
                        <div class="line_number">번호</div>
                        <div class="line_title">제목</div>
                        <div class="line_author">작성자</div>
                        <div class="line_review">조회수</div>
                    </div>
                    <% data.forEach(function(item,index){ %>
                    <div class="line">
                        <div class="db_number"><%- item.qna_id %></div>
                        <div class="db_title"><a href="/detail/<%- item.qna_id %>"><%- item.qna_title %></a></div>
                        <div class="db_author"><%- item.qna_author %></div>
                        <div class="db_review"><%- item.qna_review %></div>
                    </div>
                    <% }); %>
                </div>
                <div class="right">
                    <a class="write_btn" href="/qna">글쓰기</a>
                </div>
            </div>
        </div>
    </div>
    <%- include("common/footer.ejs"); %>
</body>
</html>